.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #61dafb;
}
::selection{
  background-color: orangered;
  color:white;
}
.box1{
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color:  rgb(4, 4, 87);
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 20%;
  height: 320px;
  vertical-align:middle;
  transform: translate(0%,0%);
  text-align: center;
  border-radius: 6px 6px 6px 6px;
}
.box2{
  display: flex;
  flex-direction: column;
  color: white;
  background-color:  rgb(4, 4, 87);
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 20%;
  height: 320px;
  border-radius: 6px 6px 6px 6px;
}
.box3{
  display:inline-flex;
  background-color: white;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  width: 95%;
  align-items:center;
  top:50%;
  left:50%;
  transform: translate(3%,50%);
  height:350px;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 5%;
}
.box4{
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  border-radius: 4px;
  border-color:  rgb(4, 4, 87);
  height:30px;
  width:104px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 10px;
  font-family: arial ;
  font-weight: bold;
  color:white;
  background-color:  rgb(4, 4, 87);
  cursor:pointer;
}
.box6{
  vertical-align: middle;
  padding-top:2%;
}
.box7{
  vertical-align: middle;
  padding-top:0%;
}
.box8{
  padding-top:2%;
  padding-bottom:7%;
}
.box9{
  width:100%;
  height:10%;
  background-color: rgb(7, 7, 7);
  opacity:0.97;
  position:fixed;
  z-index: 5;
  top:0;
}
.box10{
  width:100%;
  height:10%;
  background-color: rgb(7,7,7);
  bottom:0;
  position: fixed;
}
.box11{
  margin-bottom: 20%;
}
.box12{
  display:inline-flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  align-items:center;
  top:50%;
  left:50%;
  transform: translate(3%,50%);
  margin-bottom: 10%;
  height:150px;
  width: 100%;
}
.box13{
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  border-radius: 4px;
  border-color:  rgb(4, 4, 87);
  height:30px;
  width:104px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 10px;
  font-family: arial ;
  font-weight: bold;
  color:white;
  background-color:  rgb(4, 4, 87);
  cursor:pointer; 
}
